In [1]:
# !pip install googletrans==3.1.0a0
# !pip install google_trans_new
# !pip install googletrans==3.1.0a0

In [3]:
import pandas as pd
import re
import unicodedata
import matplotlib.pyplot as plt
import tqdm
import japanize_matplotlib
import os
import collections
import glob
import math
from googletrans import Translator

In [4]:
f_scientist = pd.read_csv("f_scientist_text_overall.csv")
m_scientist = pd.read_csv("m_scientist_text_overall.csv")

In [5]:
f_scientist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21815 entries, 0 to 21814
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   word      21815 non-null  object
 1   pos       21815 non-null  object
 2   total     21815 non-null  int64
 3   articles  21815 non-null  int64
dtypes: int64(2), object(2)
memory usage: 681.8+ KB

In [6]:
m_scientist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62454 entries, 0 to 62453
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   word      62454 non-null  object
 1   pos       62454 non-null  object
 2   total     62454 non-null  int64
 3   articles  62454 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.9+ MB

In [7]:
f_scientist.pos.unique()

array(['名詞', '動詞', '形容詞'], dtype=object)

- 名詞 = noun
- 動詞 = verb
- 形容詞 = adjective

In [8]:
f_scientist[f_scientist.pos == "形容詞"].head()

    word  pos  total  articles
34    ない  形容詞    586       218
238   強い  形容詞    166       108
251   多い  形容詞    158        93
271   高い  形容詞    147        97
278  新しい  形容詞    142        90

### Number of total articles of each category

In [24]:
# CHANGE DIRECTORY PATH!!!
f_scientist_total_articles = len(glob.glob('../f_scientist/new_csvs/*'))
f_scientist_total_articles

1360

In [23]:
# CHANGE DIRECTORY PATH!!!
m_scientist_total_articles = len(glob.glob('../m_scientist/new_csvs/*'))
m_scientist_total_articles

24561

In [26]:
# all nouns
f_scientist_noun= f_scientist[f_scientist.pos =="名詞"].sort_values("total", ascending=False)
f_scientist_noun["per_article"]= round(f_scientist_noun["articles"]/ f_scientist_total_articles,2)
f_scientist_noun.to_csv("f_scientist_noun.csv", index= False)
print_result = pd.read_csv("f_scientist_noun.csv")
print_result.head()

  word pos  total  articles  per_article
0   研究  名詞   4261       966         0.71
1   大学  名詞   2918       849         0.62
2    学  名詞   2900       878         0.65
3   教授  名詞   2275       867         0.64
4   日本  名詞   2220       804         0.59

In [30]:
# top 20 nouns
f_scientist_top20_noun= f_scientist_noun.head(20)
f_scientist_top20_noun.to_csv("f_scientist_top20_noun.csv", index= False)
print_result = pd.read_csv("f_scientist_top20_noun.csv")
print_result.head()

  word pos  total  articles  per_article
0   研究  名詞   4261       966         0.71
1   大学  名詞   2918       849         0.62
2    学  名詞   2900       878         0.65
3   教授  名詞   2275       867         0.64
4   日本  名詞   2220       804         0.59

In [39]:
# all verbs

f_scientist_verb= f_scientist[f_scientist.pos =="動詞"].sort_values("total", ascending=False)
f_scientist_verb["per_article"]= round(f_scientist_verb["articles"]/ f_scientist_total_articles,2)
f_scientist_verb.to_csv("f_scientist_verb.csv", index= False)
print_result = pd.read_csv("f_scientist_verb.csv")
print_result.head()

   word pos  total  articles  per_article
0    行う  動詞    910       401         0.29
1   受ける  動詞    757       316         0.23
2   務める  動詞    748       420         0.31
3   できる  動詞    634       216         0.16
4  生まれる  動詞    547       439         0.32

In [33]:
# TOP 20 verbs
f_scientist_top20_verb= f_scientist_verb.head(20)
f_scientist_top20_verb.to_csv("f_scientist_top20_verb.csv", index= False)
print_result = pd.read_csv("f_scientist_top20_verb.csv")
print_result.head()

   word pos  total  articles  per_article
0    行う  動詞    910       401         0.29
1   受ける  動詞    757       316         0.23
2   務める  動詞    748       420         0.31
3   できる  動詞    634       216         0.16
4  生まれる  動詞    547       439         0.32

In [36]:
# all adj
f_scientist_adj= f_scientist[f_scientist.pos =="形容詞"].sort_values("total", ascending=False)
f_scientist_adj["per_article"]= round(f_scientist_adj["articles"]/ f_scientist_total_articles,2)
f_scientist_adj.to_csv("f_scientist_adj.csv", index= False)
print_result = pd.read_csv("f_scientist_adj.csv")
print_result.head()

  word  pos  total  articles  per_article
0   ない  形容詞    586       218         0.16
1   強い  形容詞    166       108         0.08
2   多い  形容詞    158        93         0.07
3   高い  形容詞    147        97         0.07
4  新しい  形容詞    142        90         0.07

In [37]:
# top 20 adj
f_scientist_top20_adj= f_scientist_adj.head(20)
f_scientist_top20_adj.to_csv("f_scientist_top20_adj.csv", index= False)
print_result = pd.read_csv("f_scientist_top20_adj.csv")
print_result.head()

  word  pos  total  articles  per_article
0   ない  形容詞    586       218         0.16
1   強い  形容詞    166       108         0.08
2   多い  形容詞    158        93         0.07
3   高い  形容詞    147        97         0.07
4  新しい  形容詞    142        90         0.07

In [50]:
# merge noun+ verb+ adj analysis
f_scientist_top_words = pd.concat([f_scientist_noun, f_scientist_verb,f_scientist_adj], axis=0)
f_scientist_top_words.to_csv("f_scientist_top_words.csv", index= False)
print_result = pd.read_csv("f_scientist_top_words.csv")
print_result

          word  pos  total  articles  per_article
0           研究   名詞   4261       966         0.71
1           大学   名詞   2918       849         0.62
2            学   名詞   2900       878         0.65
3           教授   名詞   2275       867         0.64
4           日本   名詞   2220       804         0.59
...        ...  ...    ...       ...          ...
21810      にがい  形容詞      1         1         0.00
21811   にぎにぎしい  形容詞      1         1         0.00
21812     にげない  形容詞      1         1         0.00
21813  言うまでもない  形容詞      1         1         0.00
21814     歯がゆい  形容詞      1         1         0.00

[21815 rows x 5 columns]

## Male scientists

In [47]:
#total number of articles
m_scientist_total_articles = len(glob.glob('../m_scientist/new_csvs/*'))

# all nouns
m_scientist_noun= m_scientist[m_scientist.pos =="名詞"].sort_values("total", ascending=False)
m_scientist_noun["per_article"]= round(m_scientist_noun["articles"]/ m_scientist_total_articles,2)
m_scientist_noun.to_csv("m_scientist_noun.csv", index= False)
# print_result = pd.read_csv("m_scientist_noun.csv")

# top20 nouns
m_scientist_top20_noun= m_scientist_noun.head(20)
m_scientist_top20_noun.to_csv("m_scientist_top20_noun.csv", index= False)
# print_result = pd.read_csv("m_scientist_top20_noun.csv")

# all verbs
m_scientist_verb= m_scientist[m_scientist.pos =="動詞"].sort_values("total", ascending=False)
m_scientist_verb["per_article"]= round(m_scientist_verb["articles"]/ m_scientist_total_articles,2)
m_scientist_verb.to_csv("m_scientist_verb.csv", index= False)
# print_result = pd.read_csv("m_scientist_verb.csv")

# top20 verbs
m_scientist_top20_verb= m_scientist_verb.head(20)
m_scientist_top20_verb.to_csv("m_scientist_top20_verb.csv", index= False)
# print_result = pd.read_csv("m_scientist_top20_verb.csv")

# all adjs
m_scientist_adj= m_scientist[m_scientist.pos =="形容詞"].sort_values("total", ascending=False)
m_scientist_adj["per_article"]= round(m_scientist_adj["articles"]/ m_scientist_total_articles,2)
m_scientist_adj.to_csv("m_scientist_adj.csv", index= False)
# print_result = pd.read_csv("m_scientist_adj.csv")

# top20 adj
m_scientist_top20_adj= m_scientist_adj.head(20)
m_scientist_top20_adj.to_csv("m_scientist_top20_adj.csv", index= False)

In [48]:
# merge nouns + verbs + adjs
m_scientist_top_words = pd.concat([m_scientist_noun, m_scientist_verb,m_scientist_adj], axis=0)
m_scientist_top_words.to_csv("m_scientist_top_words.csv", index= False)
print_result = pd.read_csv("m_scientist_top_words.csv")
print_result

         word  pos  total  articles  per_article
0          研究   名詞  62473     17011         0.69
1          教授   名詞  49488     18099         0.74
2           学   名詞  46580     14842         0.60
3          大学   名詞  45604     15050         0.61
4          日本   名詞  40098     16587         0.68
...       ...  ...    ...       ...          ...
62449   おそろしい  形容詞      1         1         0.00
62450  おぼつかない  形容詞      1         1         0.00
62451  いかがわしい  形容詞      1         1         0.00
62452   ふがいない  形容詞      1         1         0.00
62453    湿っぽい  形容詞      1         1         0.00

[62454 rows x 5 columns]

In [76]:
# f+m scientist 
scientist_all_top_words = pd.concat([f_scientist_top_words, m_scientist_top_words], axis=0)
scientist_all_top_words.to_csv("scientist_all_top_words.csv", index= False)

## Japanese Female Idols vs Male Idols

In [53]:
# read overall file
japaneseFemaleIdol = pd.read_csv("japeseFemaleIdol_text_overall.csv")

#total number of articles
japaneseFemaleIdol_total_articles = len(glob.glob('../japaneseFemaleIdol/new_csvs/*'))

# all nouns
japaneseFemaleIdol_noun= japaneseFemaleIdol[japaneseFemaleIdol.pos =="名詞"].sort_values("total", ascending=False)
japaneseFemaleIdol_noun["per_article"]= round(japaneseFemaleIdol_noun["articles"]/ japaneseFemaleIdol_total_articles,2)
japaneseFemaleIdol_noun.to_csv("japaneseFemaleIdol_noun.csv", index= False)
# print_result = pd.read_csv("japaneseFemaleIdol_noun.csv")

# top20 nouns
japaneseFemaleIdol_top20_noun= japaneseFemaleIdol_noun.head(20)
japaneseFemaleIdol_top20_noun.to_csv("japaneseFemaleIdol_top20_noun.csv", index= False)
# print_result = pd.read_csv("japaneseFemaleIdol_top20_noun.csv")

# all verbs
japaneseFemaleIdol_verb= japaneseFemaleIdol[japaneseFemaleIdol.pos =="動詞"].sort_values("total", ascending=False)
japaneseFemaleIdol_verb["per_article"]= round(japaneseFemaleIdol_verb["articles"]/ japaneseFemaleIdol_total_articles,2)
japaneseFemaleIdol_verb.to_csv("japaneseFemaleIdol_verb.csv", index= False)
# print_result = pd.read_csv("japaneseFemaleIdol_verb.csv")

# top20 verbs
japaneseFemaleIdol_top20_verb= japaneseFemaleIdol_verb.head(20)
japaneseFemaleIdol_top20_verb.to_csv("japaneseFemaleIdol_top20_verb.csv", index= False)
# print_result = pd.read_csv("japaneseFemaleIdol_top20_verb.csv")

# all adjs
japaneseFemaleIdol_adj= japaneseFemaleIdol[japaneseFemaleIdol.pos =="形容詞"].sort_values("total", ascending=False)
japaneseFemaleIdol_adj["per_article"]= round(japaneseFemaleIdol_adj["articles"]/ japaneseFemaleIdol_total_articles,2)
japaneseFemaleIdol_adj.to_csv("japaneseFemaleIdol_adj.csv", index= False)
# print_result = pd.read_csv("japaneseFemaleIdol_adj.csv")

# top20 adj
japaneseFemaleIdol_top20_adj= japaneseFemaleIdol_adj.head(20)
japaneseFemaleIdol_top20_adj.to_csv("japaneseFemaleIdol_top20_adj.csv", index= False)

In [55]:
# merge nouns + verbs + adjs
japaneseFemaleIdol_top_words = pd.concat([japaneseFemaleIdol_noun, japaneseFemaleIdol_verb,japaneseFemaleIdol_adj], axis=0)
japaneseFemaleIdol_top_words.to_csv("japaneseFemaleIdol_top_words.csv", index= False)
print_result = pd.read_csv("japaneseFemaleIdol_top_words.csv")
print_result

         word  pos  total  articles  per_article
0        アイドル   名詞  15624      3716         0.73
1          活動   名詞  12470      2334         0.46
2          所属   名詞  10798      3322         0.65
3          出演   名詞  10362      1838         0.36
4          日本   名詞  10072      3966         0.78
...       ...  ...    ...       ...          ...
27572     とろい  形容詞      2         1         0.00
27573  なまめかしい  形容詞      2         1         0.00
27574   つまんない  形容詞      2         1         0.00
27575     つよい  形容詞      2         1         0.00
27576     宜しい  形容詞      2         1         0.00

[27577 rows x 5 columns]

In [56]:
# read overall file
japaneseMaleIdol = pd.read_csv("japeseMaleIdol_text_overall.csv")

#total number of articles
japaneseMaleIdol_total_articles = len(glob.glob('../japaneseMaleIdol/new_csvs/*'))

# all nouns
japaneseMaleIdol_noun= japaneseMaleIdol[japaneseMaleIdol.pos =="名詞"].sort_values("total", ascending=False)
japaneseMaleIdol_noun["per_article"]= round(japaneseMaleIdol_noun["articles"]/ japaneseMaleIdol_total_articles,2)
japaneseMaleIdol_noun.to_csv("japaneseMaleIdol_noun.csv", index= False)
# print_result = pd.read_csv("japaneseMaleIdol_noun.csv")

# top20 nouns
japaneseMaleIdol_top20_noun= japaneseMaleIdol_noun.head(20)
japaneseMaleIdol_top20_noun.to_csv("japaneseMaleIdol_top20_noun.csv", index= False)
# print_result = pd.read_csv("japaneseMaleIdol_top20_noun.csv")

# all verbs
japaneseMaleIdol_verb= japaneseMaleIdol[japaneseMaleIdol.pos =="動詞"].sort_values("total", ascending=False)
japaneseMaleIdol_verb["per_article"]= round(japaneseMaleIdol_verb["articles"]/ japaneseMaleIdol_total_articles,2)
japaneseMaleIdol_verb.to_csv("japaneseMaleIdol_verb.csv", index= False)
# print_result = pd.read_csv("japaneseMaleIdol_verb.csv")

# top20 verbs
japaneseMaleIdol_top20_verb= japaneseMaleIdol_verb.head(20)
japaneseMaleIdol_top20_verb.to_csv("japaneseMaleIdol_top20_verb.csv", index= False)
# print_result = pd.read_csv("japaneseMaleIdol_top20_verb.csv")

# all adjs
japaneseMaleIdol_adj= japaneseMaleIdol[japaneseMaleIdol.pos =="形容詞"].sort_values("total", ascending=False)
japaneseMaleIdol_adj["per_article"]= round(japaneseMaleIdol_adj["articles"]/ japaneseMaleIdol_total_articles,2)
japaneseMaleIdol_adj.to_csv("japaneseMaleIdol_adj.csv", index= False)
# print_result = pd.read_csv("japaneseMaleIdol_adj.csv")

# top20 adj
japaneseMaleIdol_top20_adj= japaneseMaleIdol_adj.head(20)
japaneseMaleIdol_top20_adj.to_csv("japaneseMaleIdol_top20_adj.csv", index= False)

In [57]:
# merge nouns + verbs + adjs
japaneseMaleIdol_top_words = pd.concat([japaneseMaleIdol_noun, japaneseMaleIdol_verb,japaneseMaleIdol_adj], axis=0)
japaneseMaleIdol_top_words.to_csv("japaneseMaleIdol_top_words.csv", index= False)
print_result = pd.read_csv("japaneseMaleIdol_top_words.csv")
print_result

       word  pos  total  articles  per_article
0        出演   名詞    506       109         0.57
1        日本   名詞    408       161         0.84
2        番組   名詞    382        87         0.45
3        活動   名詞    357       105         0.55
4         草   名詞    344         5         0.03
...     ...  ...    ...       ...          ...
9881  あったかい  形容詞      1         1         0.01
9882    あさい  形容詞      1         1         0.01
9883   うれしい  形容詞      1         1         0.01
9884    うとい  形容詞      1         1         0.01
9885    根強い  形容詞      1         1         0.01

[9886 rows x 5 columns]

In [75]:
# f+m idol
japaneseIdol_all_top_words = pd.concat([japaneseFemaleIdol_top_words, japaneseMaleIdol_top_words], axis=0)
japaneseIdol_all_top_words.to_csv("japaneseIdol_all_top_words.csv", index= False)

## Prince and princess

In [62]:
# read overall file
princess = pd.read_csv("princess_text_overall.csv")

#total number of articles
princess_total_articles = len(glob.glob('../princess/new_csvs/*'))

# all nouns
princess_noun= princess[princess.pos =="名詞"].sort_values("total", ascending=False)
princess_noun["per_article"]= round(princess_noun["articles"]/ princess_total_articles,2)
princess_noun.to_csv("princess_noun.csv", index= False)
# print_result = pd.read_csv("princess_noun.csv")

# top20 nouns
princess_top20_noun= princess_noun.head(20)
princess_top20_noun.to_csv("princess_top20_noun.csv", index= False)
# print_result = pd.read_csv("princess_top20_noun.csv")

# all verbs
princess_verb= princess[princess.pos =="動詞"].sort_values("total", ascending=False)
princess_verb["per_article"]= round(princess_verb["articles"]/ princess_total_articles,2)
princess_verb.to_csv("princess_verb.csv", index= False)
# print_result = pd.read_csv("princess_verb.csv")

# top20 verbs
princess_top20_verb= princess_verb.head(20)
princess_top20_verb.to_csv("princess_top20_verb.csv", index= False)
# print_result = pd.read_csv("princess_top20_verb.csv")

# all adjs
princess_adj= princess[princess.pos =="形容詞"].sort_values("total", ascending=False)
princess_adj["per_article"]= round(princess_adj["articles"]/ princess_total_articles,2)
princess_adj.to_csv("princess_adj.csv", index= False)
# print_result = pd.read_csv("princess_adj.csv")

# top20 adj
princess_top20_adj= princess_adj.head(20)
princess_top20_adj.to_csv("princess_top20_adj.csv", index= False)

In [63]:
# merge nouns + verbs + adjs
princess_top_words = pd.concat([princess_noun, princess_verb,princess_adj], axis=0)
princess_top_words.to_csv("princess_top_words.csv", index= False)
print_result = pd.read_csv("princess_top_words.csv")
print_result

        word  pos  total  articles  per_article
0          世   名詞   2221       399         0.93
1         結婚   名詞   1017       401         0.94
2          王   名詞    986       322         0.75
3          公   名詞    985       292         0.68
4          夫   名詞    585       258         0.60
...      ...  ...    ...       ...          ...
8193   むつまじい  形容詞      1         1         0.00
8194  みすぼらしい  形容詞      1         1         0.00
8195    まばゆい  形容詞      1         1         0.00
8196   ふさわしい  形容詞      1         1         0.00
8197     嬉しい  形容詞      1         1         0.00

[8198 rows x 5 columns]

In [65]:
# read overall file
prince = pd.read_csv("prince_text_overall.csv")

#total number of articles
prince_total_articles = len(glob.glob('../prince/new_csvs/*'))

# all nouns
prince_noun= prince[prince.pos =="名詞"].sort_values("total", ascending=False)
prince_noun["per_article"]= round(prince_noun["articles"]/ prince_total_articles,2)
prince_noun.to_csv("prince_noun.csv", index= False)
# print_result = pd.read_csv("prince_noun.csv")

# top20 nouns
prince_top20_noun= prince_noun.head(20)
prince_top20_noun.to_csv("prince_top20_noun.csv", index= False)
# print_result = pd.read_csv("prince_top20_noun.csv")

# all verbs
prince_verb= prince[prince.pos =="動詞"].sort_values("total", ascending=False)
prince_verb["per_article"]= round(prince_verb["articles"]/ prince_total_articles,2)
prince_verb.to_csv("prince_verb.csv", index= False)
# print_result = pd.read_csv("prince_verb.csv")

# top20 verbs
prince_top20_verb= prince_verb.head(20)
prince_top20_verb.to_csv("prince_top20_verb.csv", index= False)
# print_result = pd.read_csv("prince_top20_verb.csv")

# all adjs
prince_adj= prince[prince.pos =="形容詞"].sort_values("total", ascending=False)
prince_adj["per_article"]= round(prince_adj["articles"]/ prince_total_articles,2)
prince_adj.to_csv("prince_adj.csv", index= False)
# print_result = pd.read_csv("prince_adj.csv")

# top20 adj
prince_top20_adj= prince_adj.head(20)
prince_top20_adj.to_csv("prince_top20_adj.csv", index= False)

In [66]:
# merge nouns + verbs + adjs
prince_top_words = pd.concat([prince_noun, prince_verb,prince_adj], axis=0)
prince_top_words.to_csv("prince_top_words.csv", index= False)
print_result = pd.read_csv("prince_top_words.csv")
print_result

       word  pos  total  articles  per_article
0         世   名詞   2470       305         0.92
1         公   名詞   1127       247         0.74
2         王   名詞    864       229         0.69
3      フランス   名詞    793       147         0.44
4         軍   名詞    762       127         0.38
...     ...  ...    ...       ...          ...
8660  くだらない  形容詞      1         1         0.00
8661     くい  形容詞      1         1         0.00
8662    訝しい  形容詞      1         1         0.00
8663   許可ない  形容詞      1         1         0.00
8664    根深い  形容詞      1         1         0.00

[8665 rows x 5 columns]

In [74]:
# princess + prince
princessPrince_all_top_words = pd.concat([princess_top_words, prince_top_words], axis=0)
princessPrince_all_top_words.to_csv("princessPrince_all_top_words.csv", index= False)

## Figure Skater

In [68]:
# read overall file
femaleFigureSkater = pd.read_csv("femaleFigureSkater_text_overall.csv")

#total number of articles
femaleFigureSkater_total_articles = len(glob.glob('../femaleFigureSkater/new_csvs/*'))

# all nouns
femaleFigureSkater_noun= femaleFigureSkater[femaleFigureSkater.pos =="名詞"].sort_values("total", ascending=False)
femaleFigureSkater_noun["per_article"]= round(femaleFigureSkater_noun["articles"]/ femaleFigureSkater_total_articles,2)
femaleFigureSkater_noun.to_csv("femaleFigureSkater_noun.csv", index= False)
# print_result = pd.read_csv("femaleFigureSkater_noun.csv")

# top20 nouns
femaleFigureSkater_top20_noun= femaleFigureSkater_noun.head(20)
femaleFigureSkater_top20_noun.to_csv("femaleFigureSkater_top20_noun.csv", index= False)
# print_result = pd.read_csv("femaleFigureSkater_top20_noun.csv")

# all verbs
femaleFigureSkater_verb= femaleFigureSkater[femaleFigureSkater.pos =="動詞"].sort_values("total", ascending=False)
femaleFigureSkater_verb["per_article"]= round(femaleFigureSkater_verb["articles"]/ femaleFigureSkater_total_articles,2)
femaleFigureSkater_verb.to_csv("femaleFigureSkater_verb.csv", index= False)
# print_result = pd.read_csv("femaleFigureSkater_verb.csv")

# top20 verbs
femaleFigureSkater_top20_verb= femaleFigureSkater_verb.head(20)
femaleFigureSkater_top20_verb.to_csv("femaleFigureSkater_top20_verb.csv", index= False)
# print_result = pd.read_csv("femaleFigureSkater_top20_verb.csv")

# all adjs
femaleFigureSkater_adj= femaleFigureSkater[femaleFigureSkater.pos =="形容詞"].sort_values("total", ascending=False)
femaleFigureSkater_adj["per_article"]= round(femaleFigureSkater_adj["articles"]/ femaleFigureSkater_total_articles,2)
femaleFigureSkater_adj.to_csv("femaleFigureSkater_adj.csv", index= False)
# print_result = pd.read_csv("femaleFigureSkater_adj.csv")

# top20 adj
femaleFigureSkater_top20_adj= femaleFigureSkater_adj.head(20)
femaleFigureSkater_top20_adj.to_csv("femaleFigureSkater_top20_adj.csv", index= False)

In [69]:
# merge nouns + verbs + adjs
femaleFigureSkater_top_words = pd.concat([femaleFigureSkater_noun, femaleFigureSkater_verb,femaleFigureSkater_adj], axis=0)
femaleFigureSkater_top_words.to_csv("femaleFigureSkater_top_words.csv", index= False)
print_result = pd.read_csv("femaleFigureSkater_top_words.csv")
print_result

       word  pos  total  articles  per_article
0       選手権   名詞   7549      1539         0.61
1         位   名詞   7368      1050         0.42
2      スケート   名詞   5824      2488         0.99
3      シーズン   名詞   5005       903         0.36
4     フィギュア   名詞   4248      2466         0.98
...     ...  ...    ...       ...          ...
9377    つらい  形容詞      1         1         0.00
9378  つまらない  形容詞      1         1         0.00
9379    にぶい  形容詞      1         1         0.00
9380     ぽい  形容詞      1         1         0.00
9381   大人しい  形容詞      1         1         0.00

[9382 rows x 5 columns]

In [70]:
# read overall file
maleFigureSkater = pd.read_csv("maleFigureSkater_text_overall.csv")

#total number of articles
maleFigureSkater_total_articles = len(glob.glob('../maleFigureSkater/new_csvs/*'))

# all nouns
maleFigureSkater_noun= maleFigureSkater[maleFigureSkater.pos =="名詞"].sort_values("total", ascending=False)
maleFigureSkater_noun["per_article"]= round(maleFigureSkater_noun["articles"]/ maleFigureSkater_total_articles,2)
maleFigureSkater_noun.to_csv("maleFigureSkater_noun.csv", index= False)
# print_result = pd.read_csv("maleFigureSkater_noun.csv")

# top20 nouns
maleFigureSkater_top20_noun= maleFigureSkater_noun.head(20)
maleFigureSkater_top20_noun.to_csv("maleFigureSkater_top20_noun.csv", index= False)
# print_result = pd.read_csv("maleFigureSkater_top20_noun.csv")

# all verbs
maleFigureSkater_verb= maleFigureSkater[maleFigureSkater.pos =="動詞"].sort_values("total", ascending=False)
maleFigureSkater_verb["per_article"]= round(maleFigureSkater_verb["articles"]/ maleFigureSkater_total_articles,2)
maleFigureSkater_verb.to_csv("maleFigureSkater_verb.csv", index= False)
# print_result = pd.read_csv("maleFigureSkater_verb.csv")

# top20 verbs
maleFigureSkater_top20_verb= maleFigureSkater_verb.head(20)
maleFigureSkater_top20_verb.to_csv("maleFigureSkater_top20_verb.csv", index= False)
# print_result = pd.read_csv("maleFigureSkater_top20_verb.csv")

# all adjs
maleFigureSkater_adj= maleFigureSkater[maleFigureSkater.pos =="形容詞"].sort_values("total", ascending=False)
maleFigureSkater_adj["per_article"]= round(maleFigureSkater_adj["articles"]/ maleFigureSkater_total_articles,2)
maleFigureSkater_adj.to_csv("maleFigureSkater_adj.csv", index= False)
# print_result = pd.read_csv("maleFigureSkater_adj.csv")

# top20 adj
maleFigureSkater_top20_adj= maleFigureSkater_adj.head(20)
maleFigureSkater_top20_adj.to_csv("maleFigureSkater_top20_adj.csv", index= False)

In [71]:
# merge nouns + verbs + adjs
maleFigureSkater_top_words = pd.concat([maleFigureSkater_noun, maleFigureSkater_verb,maleFigureSkater_adj], axis=0)
maleFigureSkater_top_words.to_csv("maleFigureSkater_top_words.csv", index= False)
print_result = pd.read_csv("maleFigureSkater_top_words.csv")
print_result

       word  pos  total  articles  per_article
0       選手権   名詞   2454       458         0.59
1         位   名詞   2414       291         0.37
2      スケート   名詞   2123       776         1.00
3      シーズン   名詞   1515       222         0.29
4     フィギュア   名詞   1485       775         1.00
...     ...  ...    ...       ...          ...
6426    にくい  形容詞      1         1         0.00
6427     すい  形容詞      1         1         0.00
6428    すごい  形容詞      1         1         0.00
6429    たかい  形容詞      1         1         0.00
6430     固い  形容詞      1         1         0.00

[6431 rows x 5 columns]

In [73]:
# f+m figure skaters
figureSkater_all_top_words = pd.concat([femaleFigureSkater_top_words, maleFigureSkater_top_words], axis=0)
figureSkater_all_top_words.to_csv("figureSkater_all_top_words.csv", index= False)